/*
User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size. 
User Story #9: The img element should be centered within its parent element.
*/

/*
#img-div 
{
    width: 600px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
#image 
{
    display:block;
    max-width: 100%;
    max-height: auto;
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
}
*/

* {
    border: 2px solid red;
}


img {
    max-width: 40%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img-div {
    background: white;
    padding: 10px;
    margin: 0;
  }


#title 
{
    font-size:70px;
    text-align:center;
        background-color:blueviolet; 

}

#img-caption 
{
    text-align: center;
}

.container 
{
    
    width: 50%;
    height:700px;
    box-sizing: border-box;
    border: 2px solid green !important;
    margin-top: 40px;
   display: flex; 
   margin-bottom: 40px;
}
#education 
{
    margin-left: 40px;
    margin-right: 40px;
}
#experience 
{
    margin-right: 40px;
}

.linea-cajas 
{
    display:flex; 
    margin-top: 50px;
    margin-bottom: 50px;
    border: 7px blue solid;
   
}

.cuadrado 
{
    width: 33%;
    height: auto; 
}



.exp 
{
    list-style: none;
    font-size: 20px;
    
}

.grid 
{
    display: grid;
}
.bullet 
{
    text-align: justify;
}